os: linux
dist: bionic

before_install:
 - curl https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor > microsoft.gpg
 - sudo mv microsoft.gpg /etc/apt/trusted.gpg.d/microsoft.gpg
 - sudo sh -c 'echo "deb [arch=amd64] https://packages.microsoft.com/repos/microsoft-ubuntu-bionic-prod bionic main" > /etc/apt/sources.list.d/dotnetdev.list'
 - sudo apt-get install apt-transport-https
 - sudo apt-get update -qq && sudo apt-get install -y dotnet-sdk-2.1 libopenslide0

script:
 - chmod +x test.sh
 - ./test.sh