@model System.Collections.Generic.IEnumerable<System.String>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Multi Slide Server</title>
</head>
<body>
    <ul>
        @foreach (var item in Model)
        {
            <li><a href="/slide/@(Uri.EscapeDataString(item)).html">@item</a></li>
        }
    </ul>
</body>
</html>