<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Name"] - Multi Tile Server</title>
</head>
<body>
    <div id="openseadragon1" style="position:fixed; left: 0; right: 0; top: 0; bottom: 0;"></div>
    <script src="/openseadragon.js"></script>
    <script type="text/javascript">
        var viewer = OpenSeadragon({
            id: "openseadragon1",
            prefixUrl: "/images/",
            tileSources: "/storage/@(ViewData["Name"]).dzi"
        });
    </script>
</body>
</html>